.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;

  &-left {
    .logo {
      cursor: pointer;
    }
  }

  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
